@import url(https://fonts.googleapis.com/css?family=Khula:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

* {margin:0;padding:0;box-sizing:border-box;}

clearfix:after {
content:"footer, .designservices, .services, .logo";
content:;
height:0;
visibility:hidden;
display:block;
clear:both;
}

body {
	color: #605A5B;
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	font-size: 30px;
}

header {
	padding: 1em;
}

nav {
	font-size: 20px;
	padding-top: 62px;
	background-color: #E8C66A;
	border: 1px black solid;
    	padding: 20px;
}

nav a {
	margin-right: 20px;
	padding-left: 1%;
}

h1 {
	font-family: 'Fauna One', serif;
	margin-top: 10px;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
}

img {
	width: 100%;
}

footer {
	padding: 2em;
	margin-right: 20px;
	font-size: 25px;
	background-color: #FF957E;
	border: 1px black solid;
    	padding: 20px;
}

footer a {
	margin-left: 10px;
	clear: both;
}


.designservices {
	background-color: blue;
}

.logo {
	width: 250px;
	float:left;
	margin-left: 20px;
	margin-top: 15px;
}
.services {
	background-color: #FFE2B8;
	border: 1px black solid;
    	padding: 15px;
}

.services a {
	margin-top: 30px;
	float:left;
	font-size: 20px;
	margin-left: 2em;
	width: 32%;
	text-align: center;
    }

a:link {
    color: #605A5B;
}

a:visited {
    color: #605A5B;
}

a:hover {
    color: rgb(185,224,247);
}
